@charset "utf-8";
/* CSS Document */
body{
	font-family:'AvenirNextLTPro-Medium', Arial;
	font-size: 14px;
	text-align: justify;
	padding:20px;	
	margin:0;
}
@font-face {
	font-family: AvenirNextLTPro-Medium;
	src: url("../fonts/AvenirNextLTPro-Medium.otf")
}
@font-face {
	font-family: AvenirNextLTPro-Bold;
	src: url("../fonts/AvenirNextLTPro-Bold.otf")
}
.para a {
	color: #94741B
}
.para {
	line-height: 17px;
	padding: 0 0 10px;
	margin: 0px;
	color: #898989;
	font-family:'AvenirNextLTPro-Medium', Arial;
	font-size: 14px;
	text-align: justify;
}
.para:first-letter{
  text-transform: capitalize
}
.paratitle {
	line-height: 20px;
	padding: 0px;
	margin: 0px;
	color: #555555;
	font-family:'AvenirNextLTPro-Bold', Arial;
	font-size: 16px;
	text-transform:lowercase !important;
	text-align:left		
}
.paratitle:first-letter{
  text-transform: capitalize
}
.smallpara a {
    color: #94741B;
    text-transform: capitalize
}
.smallpara {
    line-height: 17px;
    padding: 0 0 10px;
    margin: 0px;
    color: #898989;
    font-family:'AvenirNextLTPro-Medium', Arial;
    font-size: 14px;
    text-align: justify;
    text-transform:lowercase !important;
}
.smallpara:first-letter{
    text-transform: capitalize
}
h1, h2, h3, h4, h5, h6{ font-family:'AvenirNextLTPro-Bold', Arial; font-size:18px; color:#555555; padding-bottom:5px !important; font-weight:normal; margin:0;}
h2.paratitle{ font-size:14px;}
ul, li{ list-style:disc outside none; padding-left:5px; margin-left:15px;}
ul {padding-bottom:10px !important; display:block;}
ul li{text-transform:lowercase !important; text-align:left;}
ul li:first-letter, h1.paratitle, h2.paratitle, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter{
  text-transform: capitalize !important;
}


